/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header, footer {
    background-color: rgb(246, 125, 12)
}

h1{
    font-family: Sutro, serif; 
    font-weight: 700;  
    font-style: normal;
    font-size: 2rem;
    padding: 2rem 1.5rem .5rem 1.5rem;
    color: rgba(255, 255, 255, 0.941);
}

h2{
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.658);
}

figcaption {
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
    margin: 1rem 1rem 1.5rem 1.5rem;
    font-size: 0.85rem;
}

h3{
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal; 
    text-transform: uppercase;
    margin: 1rem 1.5rem 0.3rem 0rem;
    letter-spacing: .13rem;
    font-size: 1.2rem;
    color: rgb(246, 125, 12)

}

ul{
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    margin: 0rem 0rem 2rem;
 }

 ol{
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    margin: 0rem 0rem 3rem;
 }

 li { 
	margin: 1rem 0rem;
}
 
p {
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: rgba(255, 255, 255, 0.941);
}

div.container{
    max-width: 60em;
    margin:0 auto;
    background-color: rgb(245, 245, 245);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
    padding: 0em 2em;
}

section.ingredients{
    border-top: 2px solid rgb(246, 125, 12);
}

section.directions{
    border-top: 2px solid rgb(246, 125, 12);
}

figure{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 3rem;
}

body{
    background-color: rgb(189, 189, 189);
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
